@use 'base' as b;
@use 'mixin' as m;

.header {
    background-color: #fff;
    width: 100%;
    height: 5rem;
    padding: 0 10%;
    @include m.flex();
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    &__logo {
        width: 10rem;
    }
    &__menu {
        
        @include m.flex(2rem);
    }
}

.main {
    position: relative;
    section {
        padding: 5% 10%;
    }
}

.hero {
    background-color: b.$veryLightGray;
    @include m.flex(2rem);
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    &__content {
        width: 40%;
        h1 {
            line-height: 4rem;
        }
        p {
            padding: 1rem 0;
        }
    }
    &__img {
        position: absolute;
        top: 0;
        right: -10rem;

    }
}

.why {
    background-color: b.$lightGrayishBlue;
    &__header {
        padding-bottom: 5%;
    }
    &__content {
        @include m.flex(2rem);
        justify-content: space-between;
        align-items: center;
    }
    &__box {
        h3 {
            padding: 1rem 0;
        }
    }
}

.articles {
    background-color: b.$veryLightGray;
}